* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #eee;
  font-family: 'Poppins', sans-serif;
}


nav {
  background: darkblue;
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
}

a {
  color: white;
}

.nav__menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav__menu a.active {
  background: coral;
  padding: 0.4rem 1rem;
}


header, section {
  height: 100vh;
  display: grid;
  place-items: center;
}

header {
  background: coral;
}

section:nth-child(even) {
  background: #ccc;
}